<header>
  <img
    src="assets/img/paulo.png"
    alt="Paulo Victor - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />

  <h1>Paulo Victor</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Php | Javascript | Html5 | Css3 | Laravel | Vue | Angular | Bootstrap</p>
    <p>Jaboatão dos Guararapes, Pernambuco, Brasil</p>
    <p>
      Estou na área de desenvolvimento de software mais de um ano. Devido isso, resolvi abraçar a stack php e js para atuar no Fronted / Backend para entregar soluções digitais eficientes e funcionais.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/Paulo-VictorSB" target="_blank" class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do whatsapp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=5581999906183" target="_blank">
            <strong>Envie uma mensagem para:</strong>
            <p>Whatsapp: (81) 9 9990-6183</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="./assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:paulovdbarbosa@gmail.com" target="_blank">
            <strong>Envie um e-mail para:</strong>
            <p>paulovdbarbosa&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
